body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
input {
  font-size: 1em;
}

.upper {
  background-color: lightgrey;
  height: 50vh;
}

#custom-question {
  margin: auto;
  padding: 4em 0;
  width: 25em;
  display: flex;
  flex-direction: column;
}
